@font-face {
    font-family: 'Bebas Neue';
    src: local('Bebas Neue Regular Regular'), local('BebasNeueRegular'),
        url('../fonts/BebasNeueRegular.woff2') format('woff2'),
        url('../fonts/BebasNeueRegular.woff') format('woff');
    font-display: swap;
}

* {
    box-sizing: border-box;
}
body {
    font-family: "Roboto", sans-serif;
}
.header {
    background-color: #635854;
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom: 4px solid #3596F5;
}
.navbar {
    max-width: 1280px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    text-align: center;
}
.navbar-item {
    margin-left: 40px;
    margin-right: 40px;
}
.navbar-link {
    text-decoration: none;
    color: #fff;
}
.navbar-contacts {
    text-align: right;
}
.navbar-text {
    display: block;
    color: #fff;
    margin-bottom: 4px;
    font-size: 22px;
    line-height: 16px;
}
.navbar-phone {
    font-weight: 700;
    font-size: 22px;
    line-height: 20px;
    text-decoration: none;
    color: #fff;
}
.main {
    max-width: 1280px;
    margin: auto;
    padding-top:54px ;
    display: flex;
}
.main-info {
    flex-grow: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.home-image path {
    opacity: 0;
    cursor: pointer;
}
.home-image path:hover {
    opacity: 1;
}
.counter-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.counter-button {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    cursor: pointer;
}
.counter-down {
    transform: rotateX(180deg);
}
.main-title {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: normal;
    font-size: 37px;
    line-height: 44px;      
    color: #635854;
    margin: 0;
}
.counter {
    color: #635854;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 158px;
}
.button-primary {
    background: #3596F5;
    border-radius: 6px;
    color: white;
    border: none;
    padding: 16px 36px;
    cursor: pointer;
}

@media (max-width: 767px) {

    .navbar {
        max-width: 100%;
        margin: auto;
        display: block;
        align-items: center;
        }
        .logo {
        display: flex;
        margin-left: auto;
        margin-right: auto
        }
        .navbar-menu {
        display: none;
        }
        .navbar-contacts {
        padding-top: 2%;
        font-weight: 700;
        font-size: 17px;
        line-height: 20px;
        text-decoration: none;
        color: #fff;
        text-align: center;
        }
        .main {
        max-width: 100%;
        margin: auto;
        padding-bottom: 95px;
        display: block;
        background-image: url(/img/home.png);
        }
        .main-info {
        color: #3596F5;
        margin: 0;
        background: #59595987;
        border-radius: 6px;
        color: white;
        border: none;
        padding: 16px 36px;
        cursor: pointer;
        }
        .main-image {
        display: none;
        }
        .main-title {
        
        font-size: 37px;
        line-height: 44px;
        color: #fff;
        }
        .counter {
        color: #ffffff;
        font-family: 'Bebas Neue', sans-serif;
        font-size: 158px;
        }
        .counter-arrow {
        padding: 10px;
        }
        .button-primary {
        background: #3596F5;
        border-radius: 6px;
        color: white;
        border: none;
        padding: 16px 36px;
        }
        }
@media only screen and (min-width : 320px) and (max-width : 480px) { 
.home-image {
    height: 100%;
}
.navbar {
    max-width: 1024px;
    margin-left: 10%;
    justify-content: space-around;
    align-items: center;
}
.navbar-menu {
    display: none;
}
    .main-info {
        justify-content: space-evenly;
    }
    .counter-down {
        transform: rotateX(180deg);
    }
.main {
    padding-top: 0px;
}
    .counter {
        color: #635854;
        font-family: 'Bebas Neue', sans-serif;
        font-size: 158px;
    }
.home-image {
    width: 60vw;
}
}